:root {
  --orange: #fc4c02
}
.App {
  background-image: url('https://lh3.googleusercontent.com/lGKxpYS4J49MypQFT7l7cDjLIVpz6gl03SVVBkQc_lA8OLTP9CP2llaIph_5oq1FHRV7H8AvtgxEXCY2S6ZmS7eVxSuZUubLyECU-HhRhjeNkiaJCqLPDjqjAEfluSfyeaDuQIo6mmDf1n8cgFqjUDSCU4mXlqhwRzwYcJc9vQ8iAiCJzNbcV4p_Yb4tnBySHfOoZKsnn-54cP7sKDVO78PELh-LipfxtAnBYaVAJaGrEsyeuHxeEa5lHnnhCa-tNQxtXzlaZIK0s9-QvU4OAi-vhwXE-hRVY8bP-qNRn3hwuCKfz6ZeUHS2nX8MUcyAvZlnth1N1WACudJ2jA8_7ZPvGl61RvmrPDJ5cwhS1HTUcneQGfYNlNVZErGB60O2YZ2vTxini_0Hh3uKB0qPlOzNa9Hm9nuVxSZP91TTbuB190Gh_vnROcwcofiW2_SiPJmPQIUf2Hc3lw-UYozDAi3ic-PwsEiuPxRe0JMOdcupFFZOkK9x0uDWbDuDVQ0KPQcgjTHpdk-8kN_-EhIb5ucTqTVg864XkoIniilvX_ekyo952l0sBIVZmmn2IupbZ2_GUjCLc67dfVGqI34TY6-SojwRafVUNiGoxElZ=w901-h659-no');
  background-position: center center;
  background-size: cover;
  height: 700px;
  font-family: "DINPro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.section-one {
  background: #e2e1de;
  opacity: .8;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
}

.section-two {
  margin-top: 20em;
  margin-left: 48.5em;

}

.section-two__items {
  background-color: var(--orange);
  animation: fade 1s ease-in-out;
  width: 19%;
  height: 23px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-three  {
  width: 6em;
  margin-left: 71.5em;
  color: var(--orange);
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}

.fade-out-leave {
  opacity: 1;
}

.fade-out-leave.fade-out-leave-active {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.modal {
  height: 260px;
  background: var(--orange);
  width: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_hidden {
  display: none;
}

.modal__image {
  position: relative;
}

.modal__circle-one {
  background: var(--orange);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 360px;
  box-shadow: -2px -2px wheat;
}

.modal__circle-two {
  background: var(--orange);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 380px;
  box-shadow: -2px -2px wheat;
}

.modal__circle-three {
  background: var(--orange);
  height: 50px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  left: 410px;
  box-shadow: -2px -2px wheat;
}

.modal__image h4 {
  position: absolute;
  top: 17px;
  left: 445px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

